body
{
    background: #D3D3D3;
    color: rgb(211,211,211);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#formStyle label{
    color: #F0E68C !important;
   
    
    margin: 0 0 8px;
    padding: 0px;
  }


#message
{
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h3{
  color: #F0E68C !important;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h2
{
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1
{
    font-size: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.6);
    margin: 0 0 16px;
}

#message p
{
    color: #000000 !important;
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 16px;
}

#message a
{
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#load
{
    color: rgba(0,0,0,0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px)
{

    body, #message
    {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body
    {
        border-top: 16px solid #ffa100;
    }
}



.nav-pills /*> li.active > a, .nav-pills > li.active > a:focus */
{
    background-color: #cec396;
    position: fixed;
    overflow: hidden;
}

.nav-pills a 
{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    
    font-size: 17px;
}

.nav-pills .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav-pills a:not(:first-child) {display: none;}
  .nav-pills a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-pills.responsive {position: relative;}
  .nav-pills.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-pills.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*

when navbar start collapsing    
@media (min-width: 768px){
 .nav>li {display:inline;}
}

*/

/*.nav-pills > li.active > a:hover
{
    color:black;
    background-color: #ced500;
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 

}


/* Modal Content */
.modal-content {
    color: #cec396;
    text-align: center;
    position: relative;
    background-color: black;
    margin: 5% auto;
    width: 75%;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.column {
    padding: 20px;
    float: left;
    width: 50%;
    font-size: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}




/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.carousel-inner img {
  margin: auto;
}

